
body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#fffafc;
    color:#333;
}

header{
    background:#ff4f87;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

section{
    padding:40px 20px;
    text-align:center;

    #reviews{
    background:#fff0f5;
    padding:40px 20px;
}

#reviews .card{
    max-width:500px;
}
}

.card{
    background:white;
    padding:20px;
    margin:20px auto;
    max-width:350px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.button{
    display:inline-block;
    background:#ff4f87;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:30px;
    margin-top:20px;
}

.button:hover{
    background:#e63d74;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

#gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
}

#gallery img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}


.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    width:60px;
    height:60px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    text-decoration:none;
    box-shadow:0 4px 12px rgba(0,0,0,0.3);
}

.whatsapp:hover{
    transform:scale(1.1);
}

#contact a{
    display:inline-block;
    background:#E1306C;
    color:white;
    padding:12px 20px;
    text-decoration:none;
    border-radius:30px;
    margin-top:10px;
    font-weight:bold;
}

#contact a:hover{
    background:#C13584;
}

#prices{
    background:#fff8fb;
    padding:40px 20px;
}

#prices .card{
    max-width:450px;
    margin:auto;
}

#prices p{
    font-size:18px;
    padding:10px 0;
    border-bottom:1px solid #f2c7d8;
}

#prices p:last-child{
    border-bottom:none;
}

#hair-prices{
    background:#fff8fb;
    padding:40px 20px;
}

#hair-prices .card{
    max-width:450px;
    margin:auto;
}

#hair-prices p{
    font-size:18px;
    padding:10px 0;
    border-bottom:1px solid #f2c7d8;
}

#hair-prices p:last-child{
    border-bottom:none;
}
