
body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#fffafc;
    color:#333;
}

header{
    background:#ff4f87;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

section{
    padding:40px 20px;
    text-align:center;
}

.card{
    background:white;
    padding:20px;
    margin:20px auto;
    max-width:350px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.button{
    display:inline-block;
    background:#ff4f87;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:30px;
    margin-top:20px;
}

.button:hover{
    background:#e63d74;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

#gallery img{
    width:300px;
    height:auto;
    border-radius:15px;
}
