body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#fff7fb;
    color:#333;
}

header{
    background:#ff69b4;
    color:white;
    text-align:center;
    padding:25px;
}

header h1{
    margin:0;
    font-size:36px;
}

header p{
    margin-top:10px;
}

section{
    padding:30px;
    text-align:center;
}

h2{
    color:#ff1493;
}

p{
    font-size:18px;
    line-height:1.6;
}

a{
    display:inline-block;
    margin-top:20px;
    background:#ff1493;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

a:hover{
    background:#c71585;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
